@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas-container {
  width: 100% !important;
  height: 80% !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
